body {
    background-image: url(background_image.jpg);
    background-size: cover;
}

h2 {
    color: red;
    text-align: center;
    border: 5px solid purple;
    cursor: pointer;
}

p {
    color: black;
}

li {
    list-style: none;
    display: inline-block;
}