* {
    text-align: right;
}

body {
    background-image: url(background_image.jpg);
    background-size: cover;
}

h2, p {
    color: black;
    text-align: center;
    border: 5px solid purple;
    cursor: pointer;
}

li {
    list-style: none;
    display: inline-block;
}

.webtext {
    border: 5px dashed blue;
}

.active {
    color: red;
}

#div1 {
    background-color: rgb(0, 0, 255, 0.2);
}

#div2 {
    background-color: rgb(255, 0, 0, 0.2);
}